In [2]:
!pip install scipy
!pip install sklearn

Requirement already satisfied: scipy in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scipy) (1.21.5)
Requirement already satisfied: sklearn in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (0.0)
Requirement already satisfied: scikit-learn in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from sklearn) (1.1.1)
Requirement already satisfied: numpy>=1.17.3 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn->sklearn) (2.2.0)
Requirement already satisfied: scipy>=1.3.2 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.7.3)
Requirement already satisfied: joblib>=1.0.0 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.1.0)

In [3]:
pip install dmba

Requirement already satisfied: dmba in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (0.1.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (1.1.1)
Requirement already satisfied: scipy>=1.3.2 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: joblib>=1.0.0 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install mord

Requirement already satisfied: mord in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (0.6)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import sklearn
print('The scikit-learn version is {}.'.format(sklearn.__version__))

The scikit-learn version is 1.1.1.

In [7]:
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.utils.validation import check_is_fitted
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from dmba import classificationSummary
import numpy as np
import pandas as pd
import statsmodels.api as sm
from mord import LogisticIT
import matplotlib.pyplot as plt
import seaborn as sns
from dmba import classificationSummary, gainsChart, liftChart
from dmba.metric import AIC_score
from sklearn.metrics import confusion_matrix
from sklearn import svm
from sklearn import metrics
from sklearn.datasets import load_iris

In [9]:
!pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 804 kB/s eta 0:00:01
Requirement already satisfied: click in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from opendatasets) (8.0.4)
Requirement already satisfied: tqdm in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from opendatasets) (4.64.0)
Requirement already satisfied: six>=1.10 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from kaggle->opendatasets) (2021.10.8)
Requirement already satisfied: python-dateutil in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from kaggle->opendatasets) (2.27.1)
Requirement already satisfied: python-slugify in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: urllib3 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from kaggle->opendatasets) (1.26.9)
Requirement already satisfied: text-unidecode>=1.3 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from requests->kaggle->opendatasets) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from requests->kaggle->opendatasets) (3.3)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73049 sha256=1175447ad457fabcb5c63f9bf9f13cfd6c367f56d7dc28d772c78f5fba40e76a
  Stored in directory: /Users/zoujian/Library/Caches/pip/wheels/ac/b2/c3/fa4706d469b5879105991d1c8be9a3c2ef329ba9fe2ce5085e
Successfully built kaggle
Installing collected packages: kaggle, opendatasets
Successfully installed kaggle-1.5.12 opendatasets-0.1.22

In [10]:
import opendatasets as od

In [27]:
my_dataset_ur = "https://raw.githubusercontent.com/Yali20212021/ADMN5016-Assignment---Yali/main/bank-additional.csv"

In [28]:
od.download(my_dataset_ur)

Using downloaded and verified file: ./bank-additional.csv

In [29]:
dataname = './bank-additional.csv'

In [30]:

#read with headers
df=pd.read_csv(dataname, header=None)
#display
print(df)

                                                      0
0     age;"job";"marital";"education";"default";"hou...
1     30;"blue-collar";"married";"basic.9y";"no";"ye...
2     39;"services";"single";"high.school";"no";"no"...
3     25;"services";"married";"high.school";"no";"ye...
4     38;"services";"married";"basic.9y";"no";"unkno...
...                                                 ...
4115  30;"admin.";"married";"basic.6y";"no";"yes";"y...
4116  39;"admin.";"married";"high.school";"no";"yes"...
4117  27;"student";"single";"high.school";"no";"no";...
4118  58;"admin.";"married";"high.school";"no";"no";...
4119  34;"management";"single";"high.school";"no";"y...

[4120 rows x 1 columns]

In [31]:
df.head(5)

                                                   0
0  age;"job";"marital";"education";"default";"hou...
1  30;"blue-collar";"married";"basic.9y";"no";"ye...
2  39;"services";"single";"high.school";"no";"no"...
3  25;"services";"married";"high.school";"no";"ye...
4  38;"services";"married";"basic.9y";"no";"unkno...

In [32]:
# split column
df1=df[0].str.split(';',expand=True)
df1.head(5)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,age,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""",...,"""campaign""","""pdays""","""previous""","""poutcome""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""euribor3m""","""nr.employed""","""y"""
1,30,"""blue-collar""","""married""","""basic.9y""","""no""","""yes""","""no""","""cellular""","""may""","""fri""",...,2,999,0,"""nonexistent""",-1.8,92.893,-46.2,1.313,5099.1,"""no"""
2,39,"""services""","""single""","""high.school""","""no""","""no""","""no""","""telephone""","""may""","""fri""",...,4,999,0,"""nonexistent""",1.1,93.994,-36.4,4.855,5191,"""no"""
3,25,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jun""","""wed""",...,1,999,0,"""nonexistent""",1.4,94.465,-41.8,4.962,5228.1,"""no"""
4,38,"""services""","""married""","""basic.9y""","""no""","""unknown""","""unknown""","""telephone""","""jun""","""fri""",...,3,999,0,"""nonexistent""",1.4,94.465,-41.8,4.959,5228.1,"""no"""

In [33]:
df1

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,age,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""",...,"""campaign""","""pdays""","""previous""","""poutcome""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""euribor3m""","""nr.employed""","""y"""
1,30,"""blue-collar""","""married""","""basic.9y""","""no""","""yes""","""no""","""cellular""","""may""","""fri""",...,2,999,0,"""nonexistent""",-1.8,92.893,-46.2,1.313,5099.1,"""no"""
2,39,"""services""","""single""","""high.school""","""no""","""no""","""no""","""telephone""","""may""","""fri""",...,4,999,0,"""nonexistent""",1.1,93.994,-36.4,4.855,5191,"""no"""
3,25,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jun""","""wed""",...,1,999,0,"""nonexistent""",1.4,94.465,-41.8,4.962,5228.1,"""no"""
4,38,"""services""","""married""","""basic.9y""","""no""","""unknown""","""unknown""","""telephone""","""jun""","""fri""",...,3,999,0,"""nonexistent""",1.4,94.465,-41.8,4.959,5228.1,"""no"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,30,"""admin.""","""married""","""basic.6y""","""no""","""yes""","""yes""","""cellular""","""jul""","""thu""",...,1,999,0,"""nonexistent""",1.4,93.918,-42.7,4.958,5228.1,"""no"""
4116,39,"""admin.""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jul""","""fri""",...,1,999,0,"""nonexistent""",1.4,93.918,-42.7,4.959,5228.1,"""no"""
4117,27,"""student""","""single""","""high.school""","""no""","""no""","""no""","""cellular""","""may""","""mon""",...,2,999,1,"""failure""",-1.8,92.893,-46.2,1.354,5099.1,"""no"""
4118,58,"""admin.""","""married""","""high.school""","""no""","""no""","""no""","""cellular""","""aug""","""fri""",...,1,999,0,"""nonexistent""",1.4,93.444,-36.1,4.966,5228.1,"""no"""
4119,34,"""management""","""single""","""high.school""","""no""","""yes""","""no""","""cellular""","""nov""","""wed""",...,1,999,0,"""nonexistent""",-0.1,93.2,-42,4.12,5195.8,"""no"""

In [34]:
df1.columns = df1.iloc[0]

In [35]:
df1

,age,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""",...,"""campaign""","""pdays""","""previous""","""poutcome""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""euribor3m""","""nr.employed""","""y"""
0,age,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""",...,"""campaign""","""pdays""","""previous""","""poutcome""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""euribor3m""","""nr.employed""","""y"""
1,30,"""blue-collar""","""married""","""basic.9y""","""no""","""yes""","""no""","""cellular""","""may""","""fri""",...,2,999,0,"""nonexistent""",-1.8,92.893,-46.2,1.313,5099.1,"""no"""
2,39,"""services""","""single""","""high.school""","""no""","""no""","""no""","""telephone""","""may""","""fri""",...,4,999,0,"""nonexistent""",1.1,93.994,-36.4,4.855,5191,"""no"""
3,25,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jun""","""wed""",...,1,999,0,"""nonexistent""",1.4,94.465,-41.8,4.962,5228.1,"""no"""
4,38,"""services""","""married""","""basic.9y""","""no""","""unknown""","""unknown""","""telephone""","""jun""","""fri""",...,3,999,0,"""nonexistent""",1.4,94.465,-41.8,4.959,5228.1,"""no"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,30,"""admin.""","""married""","""basic.6y""","""no""","""yes""","""yes""","""cellular""","""jul""","""thu""",...,1,999,0,"""nonexistent""",1.4,93.918,-42.7,4.958,5228.1,"""no"""
4116,39,"""admin.""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jul""","""fri""",...,1,999,0,"""nonexistent""",1.4,93.918,-42.7,4.959,5228.1,"""no"""
4117,27,"""student""","""single""","""high.school""","""no""","""no""","""no""","""cellular""","""may""","""mon""",...,2,999,1,"""failure""",-1.8,92.893,-46.2,1.354,5099.1,"""no"""
4118,58,"""admin.""","""married""","""high.school""","""no""","""no""","""no""","""cellular""","""aug""","""fri""",...,1,999,0,"""nonexistent""",1.4,93.444,-36.1,4.966,5228.1,"""no"""
4119,34,"""management""","""single""","""high.school""","""no""","""yes""","""no""","""cellular""","""nov""","""wed""",...,1,999,0,"""nonexistent""",-0.1,93.2,-42,4.12,5195.8,"""no"""

In [36]:
df2=df1.drop([0])

In [37]:
df2

,age,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""",...,"""campaign""","""pdays""","""previous""","""poutcome""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""euribor3m""","""nr.employed""","""y"""
1,30,"""blue-collar""","""married""","""basic.9y""","""no""","""yes""","""no""","""cellular""","""may""","""fri""",...,2,999,0,"""nonexistent""",-1.8,92.893,-46.2,1.313,5099.1,"""no"""
2,39,"""services""","""single""","""high.school""","""no""","""no""","""no""","""telephone""","""may""","""fri""",...,4,999,0,"""nonexistent""",1.1,93.994,-36.4,4.855,5191,"""no"""
3,25,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jun""","""wed""",...,1,999,0,"""nonexistent""",1.4,94.465,-41.8,4.962,5228.1,"""no"""
4,38,"""services""","""married""","""basic.9y""","""no""","""unknown""","""unknown""","""telephone""","""jun""","""fri""",...,3,999,0,"""nonexistent""",1.4,94.465,-41.8,4.959,5228.1,"""no"""
5,47,"""admin.""","""married""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""mon""",...,1,999,0,"""nonexistent""",-0.1,93.2,-42,4.191,5195.8,"""no"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,30,"""admin.""","""married""","""basic.6y""","""no""","""yes""","""yes""","""cellular""","""jul""","""thu""",...,1,999,0,"""nonexistent""",1.4,93.918,-42.7,4.958,5228.1,"""no"""
4116,39,"""admin.""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jul""","""fri""",...,1,999,0,"""nonexistent""",1.4,93.918,-42.7,4.959,5228.1,"""no"""
4117,27,"""student""","""single""","""high.school""","""no""","""no""","""no""","""cellular""","""may""","""mon""",...,2,999,1,"""failure""",-1.8,92.893,-46.2,1.354,5099.1,"""no"""
4118,58,"""admin.""","""married""","""high.school""","""no""","""no""","""no""","""cellular""","""aug""","""fri""",...,1,999,0,"""nonexistent""",1.4,93.444,-36.1,4.966,5228.1,"""no"""
4119,34,"""management""","""single""","""high.school""","""no""","""yes""","""no""","""cellular""","""nov""","""wed""",...,1,999,0,"""nonexistent""",-0.1,93.2,-42,4.12,5195.8,"""no"""

In [38]:
print(df2.isnull().sum())

0
age                 0
"job"               0
"marital"           0
"education"         0
"default"           0
"housing"           0
"loan"              0
"contact"           0
"month"             0
"day_of_week"       0
"duration"          0
"campaign"          0
"pdays"             0
"previous"          0
"poutcome"          0
"emp.var.rate"      0
"cons.price.idx"    0
"cons.conf.idx"     0
"euribor3m"         0
"nr.employed"       0
"y"                 0
dtype: int64

In [39]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 1 to 4119
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               4119 non-null   object
 1   "job"             4119 non-null   object
 2   "marital"         4119 non-null   object
 3   "education"       4119 non-null   object
 4   "default"         4119 non-null   object
 5   "housing"         4119 non-null   object
 6   "loan"            4119 non-null   object
 7   "contact"         4119 non-null   object
 8   "month"           4119 non-null   object
 9   "day_of_week"     4119 non-null   object
 10  "duration"        4119 non-null   object
 11  "campaign"        4119 non-null   object
 12  "pdays"           4119 non-null   object
 13  "previous"        4119 non-null   object
 14  "poutcome"        4119 non-null   object
 15  "emp.var.rate"    4119 non-null   object
 16  "cons.price.idx"  4119 non-null   object
 17  "cons.conf.idx"   4119 non-null   object
 18  "euribor3m"       4119 non-null   object
 19  "nr.employed"     4119 non-null   object
 20  "y"               4119 non-null   object
dtypes: object(21)
memory usage: 675.9+ KB

In [40]:
df2.iloc[:,10]

1       487
2       346
3       227
4        17
5        58
       ...
4115     53
4116    219
4117     64
4118    528
4119    175
Name: "duration", Length: 4119, dtype: object

In [41]:
# drop"duration" column, because it is not suitable to include this column for prediction as described in the dataset
df3=df2.drop(['"duration"'], axis=1)

In [42]:
# Mothod two for drop columns
# df4=df2.drop(columns=['"duration"'])

In [43]:
df3

,age,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""","""campaign""","""pdays""","""previous""","""poutcome""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""euribor3m""","""nr.employed""","""y"""
1,30,"""blue-collar""","""married""","""basic.9y""","""no""","""yes""","""no""","""cellular""","""may""","""fri""",2,999,0,"""nonexistent""",-1.8,92.893,-46.2,1.313,5099.1,"""no"""
2,39,"""services""","""single""","""high.school""","""no""","""no""","""no""","""telephone""","""may""","""fri""",4,999,0,"""nonexistent""",1.1,93.994,-36.4,4.855,5191,"""no"""
3,25,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jun""","""wed""",1,999,0,"""nonexistent""",1.4,94.465,-41.8,4.962,5228.1,"""no"""
4,38,"""services""","""married""","""basic.9y""","""no""","""unknown""","""unknown""","""telephone""","""jun""","""fri""",3,999,0,"""nonexistent""",1.4,94.465,-41.8,4.959,5228.1,"""no"""
5,47,"""admin.""","""married""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""mon""",1,999,0,"""nonexistent""",-0.1,93.2,-42,4.191,5195.8,"""no"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,30,"""admin.""","""married""","""basic.6y""","""no""","""yes""","""yes""","""cellular""","""jul""","""thu""",1,999,0,"""nonexistent""",1.4,93.918,-42.7,4.958,5228.1,"""no"""
4116,39,"""admin.""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jul""","""fri""",1,999,0,"""nonexistent""",1.4,93.918,-42.7,4.959,5228.1,"""no"""
4117,27,"""student""","""single""","""high.school""","""no""","""no""","""no""","""cellular""","""may""","""mon""",2,999,1,"""failure""",-1.8,92.893,-46.2,1.354,5099.1,"""no"""
4118,58,"""admin.""","""married""","""high.school""","""no""","""no""","""no""","""cellular""","""aug""","""fri""",1,999,0,"""nonexistent""",1.4,93.444,-36.1,4.966,5228.1,"""no"""
4119,34,"""management""","""single""","""high.school""","""no""","""yes""","""no""","""cellular""","""nov""","""wed""",1,999,0,"""nonexistent""",-0.1,93.2,-42,4.12,5195.8,"""no"""

In [44]:
df3.dtypes

0
age                 object
"job"               object
"marital"           object
"education"         object
"default"           object
"housing"           object
"loan"              object
"contact"           object
"month"             object
"day_of_week"       object
"campaign"          object
"pdays"             object
"previous"          object
"poutcome"          object
"emp.var.rate"      object
"cons.price.idx"    object
"cons.conf.idx"     object
"euribor3m"         object
"nr.employed"       object
"y"                 object
dtype: object

In [45]:
# Another way to convert object to int
# df3['age'].astype(int)

In [46]:
#Convert the datatype of some variables to numeric
df3[["age",'"campaign"','"pdays"','"previous"','"emp.var.rate"','"cons.price.idx"','"cons.conf.idx"','"euribor3m"','"nr.employed"']] = df3[["age",'"campaign"','"pdays"','"previous"','"emp.var.rate"','"cons.price.idx"','"cons.conf.idx"','"euribor3m"','"nr.employed"']].apply(pd.to_numeric)

In [47]:
df3.dtypes

0
age                   int64
"job"                object
"marital"            object
"education"          object
"default"            object
"housing"            object
"loan"               object
"contact"            object
"month"              object
"day_of_week"        object
"campaign"            int64
"pdays"               int64
"previous"            int64
"poutcome"           object
"emp.var.rate"      float64
"cons.price.idx"    float64
"cons.conf.idx"     float64
"euribor3m"         float64
"nr.employed"       float64
"y"                  object
dtype: object

In [48]:
# Test multicollinearity between predictors. Correlations between numeric IVs < 0.8
df3.corr()

,age,"""campaign""","""pdays""","""previous""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""euribor3m""","""nr.employed"""
0,,,,,,,,,
age,1.000000,-0.014169,-0.043425,0.050931,-0.019192,-0.000482,0.098135,-0.015033,-0.041936
"""campaign""",-0.014169,1.000000,0.058742,-0.091490,0.176079,0.145021,0.007882,0.159435,0.161037
"""pdays""",-0.043425,0.058742,1.000000,-0.587941,0.270684,0.058472,-0.092090,0.301478,0.381983
"""previous""",0.050931,-0.091490,-0.587941,1.000000,-0.415238,-0.164922,-0.051420,-0.458851,-0.514853
"""emp.var.rate""",-0.019192,0.176079,0.270684,-0.415238,1.000000,0.755155,0.195022,0.970308,0.897173
"""cons.price.idx""",-0.000482,0.145021,0.058472,-0.164922,0.755155,1.000000,0.045835,0.657159,0.472560
"""cons.conf.idx""",0.098135,0.007882,-0.092090,-0.051420,0.195022,0.045835,1.000000,0.276595,0.107054
"""euribor3m""",-0.015033,0.159435,0.301478,-0.458851,0.970308,0.657159,0.276595,1.000000,0.942589
"""nr.employed""",-0.041936,0.161037,0.381983,-0.514853,0.897173,0.472560,0.107054,0.942589,1.000000

In [49]:
# drop"euribor3m" and "nr.employed" columns, because they are highly correlated with "emp.var.rate"	
df5=df3.drop(['"euribor3m"','"nr.employed"'], axis=1)

In [50]:
df4=df3['"pdays"']==0

In [51]:
df4.value_counts()

False    4117
True        2
Name: "pdays", dtype: int64

In [52]:
df5

,age,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""","""campaign""","""pdays""","""previous""","""poutcome""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""y"""
1,30,"""blue-collar""","""married""","""basic.9y""","""no""","""yes""","""no""","""cellular""","""may""","""fri""",2,999,0,"""nonexistent""",-1.8,92.893,-46.2,"""no"""
2,39,"""services""","""single""","""high.school""","""no""","""no""","""no""","""telephone""","""may""","""fri""",4,999,0,"""nonexistent""",1.1,93.994,-36.4,"""no"""
3,25,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jun""","""wed""",1,999,0,"""nonexistent""",1.4,94.465,-41.8,"""no"""
4,38,"""services""","""married""","""basic.9y""","""no""","""unknown""","""unknown""","""telephone""","""jun""","""fri""",3,999,0,"""nonexistent""",1.4,94.465,-41.8,"""no"""
5,47,"""admin.""","""married""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""mon""",1,999,0,"""nonexistent""",-0.1,93.200,-42.0,"""no"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,30,"""admin.""","""married""","""basic.6y""","""no""","""yes""","""yes""","""cellular""","""jul""","""thu""",1,999,0,"""nonexistent""",1.4,93.918,-42.7,"""no"""
4116,39,"""admin.""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jul""","""fri""",1,999,0,"""nonexistent""",1.4,93.918,-42.7,"""no"""
4117,27,"""student""","""single""","""high.school""","""no""","""no""","""no""","""cellular""","""may""","""mon""",2,999,1,"""failure""",-1.8,92.893,-46.2,"""no"""
4118,58,"""admin.""","""married""","""high.school""","""no""","""no""","""no""","""cellular""","""aug""","""fri""",1,999,0,"""nonexistent""",1.4,93.444,-36.1,"""no"""
4119,34,"""management""","""single""","""high.school""","""no""","""yes""","""no""","""cellular""","""nov""","""wed""",1,999,0,"""nonexistent""",-0.1,93.200,-42.0,"""no"""

In [53]:
df5.describe()

,age,"""campaign""","""pdays""","""previous""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx"""
count,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000
mean,40.113620,2.537266,960.422190,0.190337,0.084972,93.579704,-40.499102
std,10.313362,2.568159,191.922786,0.541788,1.563114,0.579349,4.594578
min,18.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000
25%,32.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000
50%,38.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000
75%,47.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000
max,88.000000,35.000000,999.000000,6.000000,1.400000,94.767000,-26.900000

In [54]:
df5.corr()

,age,"""campaign""","""pdays""","""previous""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx"""
0,,,,,,,
age,1.000000,-0.014169,-0.043425,0.050931,-0.019192,-0.000482,0.098135
"""campaign""",-0.014169,1.000000,0.058742,-0.091490,0.176079,0.145021,0.007882
"""pdays""",-0.043425,0.058742,1.000000,-0.587941,0.270684,0.058472,-0.092090
"""previous""",0.050931,-0.091490,-0.587941,1.000000,-0.415238,-0.164922,-0.051420
"""emp.var.rate""",-0.019192,0.176079,0.270684,-0.415238,1.000000,0.755155,0.195022
"""cons.price.idx""",-0.000482,0.145021,0.058472,-0.164922,0.755155,1.000000,0.045835
"""cons.conf.idx""",0.098135,0.007882,-0.092090,-0.051420,0.195022,0.045835,1.000000

In [55]:
df5['"y"'].value_counts()

"no"     3668
"yes"     451
Name: "y", dtype: int64

In [56]:
# Convert output variable to binary variable
df5['"y"'] = [1 if status == '"yes"' else 0 for status in
df5['"y"']]

In [57]:
df5

,age,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""","""campaign""","""pdays""","""previous""","""poutcome""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""y"""
1,30,"""blue-collar""","""married""","""basic.9y""","""no""","""yes""","""no""","""cellular""","""may""","""fri""",2,999,0,"""nonexistent""",-1.8,92.893,-46.2,0
2,39,"""services""","""single""","""high.school""","""no""","""no""","""no""","""telephone""","""may""","""fri""",4,999,0,"""nonexistent""",1.1,93.994,-36.4,0
3,25,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jun""","""wed""",1,999,0,"""nonexistent""",1.4,94.465,-41.8,0
4,38,"""services""","""married""","""basic.9y""","""no""","""unknown""","""unknown""","""telephone""","""jun""","""fri""",3,999,0,"""nonexistent""",1.4,94.465,-41.8,0
5,47,"""admin.""","""married""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""mon""",1,999,0,"""nonexistent""",-0.1,93.200,-42.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,30,"""admin.""","""married""","""basic.6y""","""no""","""yes""","""yes""","""cellular""","""jul""","""thu""",1,999,0,"""nonexistent""",1.4,93.918,-42.7,0
4116,39,"""admin.""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jul""","""fri""",1,999,0,"""nonexistent""",1.4,93.918,-42.7,0
4117,27,"""student""","""single""","""high.school""","""no""","""no""","""no""","""cellular""","""may""","""mon""",2,999,1,"""failure""",-1.8,92.893,-46.2,0
4118,58,"""admin.""","""married""","""high.school""","""no""","""no""","""no""","""cellular""","""aug""","""fri""",1,999,0,"""nonexistent""",1.4,93.444,-36.1,0
4119,34,"""management""","""single""","""high.school""","""no""","""yes""","""no""","""cellular""","""nov""","""wed""",1,999,0,"""nonexistent""",-0.1,93.200,-42.0,0

In [58]:
df5['"y"'].value_counts()

0    3668
1     451
Name: "y", dtype: int64

In [59]:
catpredictors = ['"job"', '"marital"', '"education"', '"default"', '"housing"', '"loan"','"contact"','"month"','"day_of_week"','"poutcome"']

In [60]:
catpredictors

['"job"',
 '"marital"',
 '"education"',
 '"default"',
 '"housing"',
 '"loan"',
 '"contact"',
 '"month"',
 '"day_of_week"',
 '"poutcome"']

In [61]:
X = pd.get_dummies(df5[catpredictors], drop_first=True)
X

,"""job""_""blue-collar""","""job""_""entrepreneur""","""job""_""housemaid""","""job""_""management""","""job""_""retired""","""job""_""self-employed""","""job""_""services""","""job""_""student""","""job""_""technician""","""job""_""unemployed""",...,"""month""_""may""","""month""_""nov""","""month""_""oct""","""month""_""sep""","""day_of_week""_""mon""","""day_of_week""_""thu""","""day_of_week""_""tue""","""day_of_week""_""wed""","""poutcome""_""nonexistent""","""poutcome""_""success"""
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4116,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4117,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
4118,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4119,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,1,0

In [74]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 1 to 4119
Data columns (total 43 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   "job"_"blue-collar"                4119 non-null   uint8
 1   "job"_"entrepreneur"               4119 non-null   uint8
 2   "job"_"housemaid"                  4119 non-null   uint8
 3   "job"_"management"                 4119 non-null   uint8
 4   "job"_"retired"                    4119 non-null   uint8
 5   "job"_"self-employed"              4119 non-null   uint8
 6   "job"_"services"                   4119 non-null   uint8
 7   "job"_"student"                    4119 non-null   uint8
 8   "job"_"technician"                 4119 non-null   uint8
 9   "job"_"unemployed"                 4119 non-null   uint8
 10  "job"_"unknown"                    4119 non-null   uint8
 11  "marital"_"married"                4119 non-null   uint8
 12  "marital"_"single"                 4119 non-null   uint8
 13  "marital"_"unknown"                4119 non-null   uint8
 14  "education"_"basic.6y"             4119 non-null   uint8
 15  "education"_"basic.9y"             4119 non-null   uint8
 16  "education"_"high.school"          4119 non-null   uint8
 17  "education"_"illiterate"           4119 non-null   uint8
 18  "education"_"professional.course"  4119 non-null   uint8
 19  "education"_"university.degree"    4119 non-null   uint8
 20  "education"_"unknown"              4119 non-null   uint8
 21  "default"_"unknown"                4119 non-null   uint8
 22  "default"_"yes"                    4119 non-null   uint8
 23  "housing"_"unknown"                4119 non-null   uint8
 24  "housing"_"yes"                    4119 non-null   uint8
 25  "loan"_"unknown"                   4119 non-null   uint8
 26  "loan"_"yes"                       4119 non-null   uint8
 27  "contact"_"telephone"              4119 non-null   uint8
 28  "month"_"aug"                      4119 non-null   uint8
 29  "month"_"dec"                      4119 non-null   uint8
 30  "month"_"jul"                      4119 non-null   uint8
 31  "month"_"jun"                      4119 non-null   uint8
 32  "month"_"mar"                      4119 non-null   uint8
 33  "month"_"may"                      4119 non-null   uint8
 34  "month"_"nov"                      4119 non-null   uint8
 35  "month"_"oct"                      4119 non-null   uint8
 36  "month"_"sep"                      4119 non-null   uint8
 37  "day_of_week"_"mon"                4119 non-null   uint8
 38  "day_of_week"_"thu"                4119 non-null   uint8
 39  "day_of_week"_"tue"                4119 non-null   uint8
 40  "day_of_week"_"wed"                4119 non-null   uint8
 41  "poutcome"_"nonexistent"           4119 non-null   uint8
 42  "poutcome"_"success"               4119 non-null   uint8
dtypes: uint8(43)
memory usage: 173.1 KB

In [75]:
y = df5['"y"']
y

1       0
2       0
3       0
4       0
5       0
       ..
4115    0
4116    0
4117    0
4118    0
4119    0
Name: "y", Length: 4119, dtype: int64

In [76]:
# split into training and validation
train_X, valid_X, train_y, valid_y = train_test_split(X, y, test_size=0.4,
random_state=1)

In [77]:
len(df5)

4119

In [78]:
len(train_X)

2471

In [79]:
len(valid_X)

1648

### Logistic regression method

In [86]:
logit_full = LogisticRegression(penalty="l2", C=1e42, solver='liblinear')
print(logit_full)

LogisticRegression(C=1e+42, solver='liblinear')

In [87]:
logit_full.fit(train_X, train_y)

LogisticRegression(C=1e+42, solver='liblinear')

In [88]:
print('intercept ', logit_full.intercept_[0])

intercept  -1.3536454689673845

In [89]:
print(logit_full.coef_[0])

[-0.36294423 -0.76214927  0.11065729 -0.22971028  0.64463424 -0.28530177
 -0.19853414  0.72246123 -0.13503389 -0.00692369 -0.63344369 -0.03718222
 -0.03194364 -5.9263935  -0.09621896 -0.01630111 -0.01169043 -5.03132753
  0.2068399   0.12081164  0.22996326 -0.24213438 -4.42290721 -0.31710552
 -0.04975832 -0.31710552 -0.19605112 -1.25897354 -1.0660969   1.56406758
 -0.77481655  0.40195289  1.6398201  -0.59206823 -0.89263765  0.64451386
  0.62579179 -0.20883185 -0.08393016  0.00720098  0.02660407  0.10520568
  2.6480287 ]

In [90]:
print(pd.DataFrame({'coeff': logit_full.coef_[0]}, index=X.columns).transpose())

       "job"_"blue-collar"  "job"_"entrepreneur"  "job"_"housemaid"  \
coeff            -0.362944             -0.762149           0.110657

       "job"_"management"  "job"_"retired"  "job"_"self-employed"  \
coeff            -0.22971         0.644634              -0.285302

       "job"_"services"  "job"_"student"  "job"_"technician"  \
coeff         -0.198534         0.722461           -0.135034

       "job"_"unemployed"  ...  "month"_"may"  "month"_"nov"  "month"_"oct"  \
coeff           -0.006924  ...      -0.592068      -0.892638       0.644514

       "month"_"sep"  "day_of_week"_"mon"  "day_of_week"_"thu"  \
coeff       0.625792            -0.208832             -0.08393

       "day_of_week"_"tue"  "day_of_week"_"wed"  "poutcome"_"nonexistent"  \
coeff             0.007201             0.026604                  0.105206

       "poutcome"_"success"
coeff              2.648029

[1 rows x 43 columns]

In [91]:
print('AIC', AIC_score(valid_y, logit_full.predict(valid_X), df = len(train_X.columns)
+ 1))

AIC 954.062149518546

Prediction based on Validation dateset

In [92]:
logit_reg_pred = logit_full.predict_proba(valid_X)
logit_reg_pred

array([[0.94140424, 0.05859576],
       [0.91906294, 0.08093706],
       [0.22896821, 0.77103179],
       ...,
       [0.92516504, 0.07483496],
       [0.89690934, 0.10309066],
       [0.91497976, 0.08502024]])

In [93]:
logit_reg_pred = logit_full.predict_proba(valid_X)
logit_reg_pred

array([[0.94140424, 0.05859576],
       [0.91906294, 0.08093706],
       [0.22896821, 0.77103179],
       ...,
       [0.92516504, 0.07483496],
       [0.89690934, 0.10309066],
       [0.91497976, 0.08502024]])

In [94]:
full_result = pd.DataFrame({'actual': valid_y, 
 'p(0)': [p[0] for p in logit_reg_pred],
 'p(1)': [p[1] for p in logit_reg_pred],
 'predicted': logit_full.predict(valid_X)})
full_result

      actual      p(0)      p(1)  predicted
3292       0  0.941404  0.058596          0
3979       0  0.919063  0.080937          0
3708       1  0.228968  0.771032          1
3240       0  0.878147  0.121853          0
2935       0  0.973213  0.026787          0
...      ...       ...       ...        ...
3002       0  0.961813  0.038187          0
1853       0  0.691267  0.308733          0
1098       0  0.925165  0.074835          0
1598       0  0.896909  0.103091          0
1294       0  0.914980  0.085020          0

[1648 rows x 4 columns]

In [95]:
logit_reg_pred = logit_full.predict_proba(valid_X)
logit_reg_pred

full_result = pd.DataFrame({'actual': valid_y, 
 'p(0)': [p[0] for p in logit_reg_pred],
 'p(1)': [p[1] for p in logit_reg_pred],
 'predicted': logit_full.predict(valid_X)})
full_result = full_result.sort_values(by=['p(1)'], ascending=False)
full_result

      actual      p(0)      p(1)  predicted
2118       1  0.048633  0.951367          1
706        1  0.058959  0.941041          1
2295       0  0.070523  0.929477          1
22         1  0.070525  0.929475          1
2264       1  0.071362  0.928638          1
...      ...       ...       ...        ...
2799       0  0.999652  0.000348          0
1645       1  0.999709  0.000291          0
1858       0  0.999778  0.000222          0
3179       0  0.999800  0.000200          0
3001       0  0.999904  0.000096          0

[1648 rows x 4 columns]

In [96]:
full_result['actual'].value_counts()

0    1476
1     172
Name: actual, dtype: int64

In [97]:
full_result['predicted'].value_counts()

0    1579
1      69
Name: predicted, dtype: int64

In [98]:
cm = confusion_matrix(full_result.actual, full_result.predicted)
cm

array([[1446,   30],
       [ 133,   39]])

In [99]:
Accuracy_valid = (1446+39)/(1446+30+133+39)
Accuracy_valid

0.9010922330097088

In [102]:
# confusion matrix
classificationSummary(full_result.actual, full_result.predicted, class_names= ['No', 'Yes'])

Confusion Matrix (Accuracy 0.9011)

       Prediction
Actual   No  Yes
    No 1446   30
   Yes  133   39

Prediction on Training dataset

In [105]:
logit_reg_pred_train = logit_full.predict_proba(train_X)
logit_reg_pred_train

array([[0.94079663, 0.05920337],
       [0.91942059, 0.08057941],
       [0.91832155, 0.08167845],
       ...,
       [0.84182823, 0.15817177],
       [0.8322171 , 0.1677829 ],
       [0.93692472, 0.06307528]])

In [106]:
full_result_train = pd.DataFrame({'actual': train_y, 
 'p(0)': [p[0] for p in logit_reg_pred_train],
 'p(1)': [p[1] for p in logit_reg_pred_train],
 'predicted': logit_full.predict(train_X)})
full_result_train

      actual      p(0)      p(1)  predicted
2681       0  0.940797  0.059203          0
2194       0  0.919421  0.080579          0
2405       0  0.918322  0.081678          0
1833       0  0.947760  0.052240          0
1366       0  0.898616  0.101384          0
...      ...       ...       ...        ...
2896       0  0.949218  0.050782          0
2764       1  0.932364  0.067636          0
906        0  0.841828  0.158172          0
3981       1  0.832217  0.167783          0
236        0  0.936925  0.063075          0

[2471 rows x 4 columns]

In [107]:
full_result_train = pd.DataFrame({'actual': train_y, 
 'p(0)': [p[0] for p in logit_reg_pred_train],
 'p(1)': [p[1] for p in logit_reg_pred_train],
 'predicted': logit_full.predict(train_X)})
full_result_train = full_result_train.sort_values(by=['p(1)'], ascending=False)
full_result_train

      actual      p(0)      p(1)  predicted
3211       1  0.028150  0.971850          1
179        1  0.041510  0.958490          1
1714       1  0.048314  0.951686          1
3520       1  0.051219  0.948781          1
478        1  0.059708  0.940292          1
...      ...       ...       ...        ...
3515       0  0.998792  0.001208          0
883        0  0.999755  0.000245          0
2548       0  0.999757  0.000243          0
273        0  0.999769  0.000231          0
1290       0  0.999796  0.000204          0

[2471 rows x 4 columns]

In [108]:
full_result_train['actual'].value_counts()

0    2192
1     279
Name: actual, dtype: int64

In [109]:
full_result_train['predicted'].value_counts()

0    2376
1      95
Name: predicted, dtype: int64

In [110]:
cm = confusion_matrix(full_result_train.actual, full_result_train.predicted)
cm

array([[2160,   32],
       [ 216,   63]])

In [111]:
Accuracy_train = (2160+63)/(2160+63+216+32)
Accuracy_train

0.8996357749898827

In [112]:
# confusion matrix
classificationSummary(full_result_train.actual, full_result_train.predicted, class_names= ['No', 'Yes'])

Confusion Matrix (Accuracy 0.8996)

       Prediction
Actual   No  Yes
    No 2160   32
   Yes  216   63

### Neural Networks method

In [114]:
Xneu = df5[catpredictors]
yneu = df5['"y"']

In [115]:
Xneu

,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""","""poutcome"""
1,"""blue-collar""","""married""","""basic.9y""","""no""","""yes""","""no""","""cellular""","""may""","""fri""","""nonexistent"""
2,"""services""","""single""","""high.school""","""no""","""no""","""no""","""telephone""","""may""","""fri""","""nonexistent"""
3,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jun""","""wed""","""nonexistent"""
4,"""services""","""married""","""basic.9y""","""no""","""unknown""","""unknown""","""telephone""","""jun""","""fri""","""nonexistent"""
5,"""admin.""","""married""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""mon""","""nonexistent"""
...,...,...,...,...,...,...,...,...,...,...
4115,"""admin.""","""married""","""basic.6y""","""no""","""yes""","""yes""","""cellular""","""jul""","""thu""","""nonexistent"""
4116,"""admin.""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jul""","""fri""","""nonexistent"""
4117,"""student""","""single""","""high.school""","""no""","""no""","""no""","""cellular""","""may""","""mon""","""failure"""
4118,"""admin.""","""married""","""high.school""","""no""","""no""","""no""","""cellular""","""aug""","""fri""","""nonexistent"""
4119,"""management""","""single""","""high.school""","""no""","""yes""","""no""","""cellular""","""nov""","""wed""","""nonexistent"""

In [116]:
yneu

1       0
2       0
3       0
4       0
5       0
       ..
4115    0
4116    0
4117    0
4118    0
4119    0
Name: "y", Length: 4119, dtype: int64

In [117]:
classes = sorted(y.unique())
classes

[0, 1]

In [118]:
clf = MLPClassifier(hidden_layer_sizes=(3), activation='logistic',
solver='lbfgs', 
 random_state=1)

In [119]:
clf

MLPClassifier(activation='logistic', hidden_layer_sizes=3, random_state=1,
              solver='lbfgs')

In [120]:
clf.fit(train_X, train_y.values)

MLPClassifier(activation='logistic', hidden_layer_sizes=3, random_state=1,
              solver='lbfgs')

In [121]:
clf.predict(train_X)

array([0, 0, 0, ..., 0, 0, 0])

In [122]:
clf.predict(valid_X)

array([0, 0, 1, ..., 0, 0, 0])

In [123]:
#  Network structure
print('Intercepts')
print(clf.intercepts_)
print('Weights')
print(clf.coefs_)

Intercepts
[array([  2.96073054, -37.45062746,  17.3715235 ]), array([-61.86630736])]
Weights
[array([[-1.36153207e+01, -8.19692526e+00, -3.67366685e+01],
       [-1.60614959e+01,  6.27935470e+01, -2.43681344e+01],
       [-9.63838934e-01,  3.63424239e+01,  4.70967902e+01],
       [-1.67307866e+01,  3.36606029e+01,  3.99174539e+00],
       [ 3.04531894e+00, -2.44340967e+01, -4.45439006e+00],
       [ 4.02981647e+01, -1.39598409e+01, -8.76412453e+01],
       [-8.06963835e+00,  1.18599150e+01, -1.84691211e+01],
       [ 3.02383620e+01, -3.29072704e+00, -2.46574728e+01],
       [ 2.51282538e+01,  4.86158807e+01,  3.99697464e+01],
       [-5.42899538e+00,  2.87729984e+01,  6.65175503e+01],
       [-4.41429309e-01, -1.42040895e+01, -8.66378908e+01],
       [ 1.28444601e+01,  4.22870347e+00, -3.28935409e+01],
       [-3.96260948e+01,  8.41221456e+00,  3.19759823e+01],
       [-3.17999144e+00,  4.21823856e+01, -3.91066139e+01],
       [ 6.79108175e+00,  5.76905004e+00,  4.21415220e+01],
       [ 2.52245308e+01, -5.16084931e+00, -6.91014574e+01],
       [-1.62607826e-01,  1.43310693e+00,  4.66697343e+00],
       [-7.79674693e-02,  2.27124863e+01, -9.11556207e+00],
       [ 2.39665255e+01,  2.72958600e+01,  4.75327242e+01],
       [ 1.06247201e+01, -1.07456204e+01, -3.17847043e+00],
       [ 2.90828042e+01, -8.99938136e-03,  2.93733069e+01],
       [-1.83258574e+01,  2.99660708e+01,  1.05506152e+01],
       [-7.16992198e-01,  1.65069799e+00, -3.15234407e+00],
       [ 1.48757344e+00,  1.32523939e+01, -2.63465573e+01],
       [ 5.90914090e+00,  2.78729630e+00,  2.60462076e+00],
       [ 1.31835046e+00,  1.32620791e+01, -2.62620701e+01],
       [-3.25048030e+01,  1.92629446e+01,  6.84500966e+01],
       [ 2.18234579e+01,  5.58498585e+01, -6.52725312e+01],
       [ 1.82018918e+01,  1.39035513e+01, -4.67798323e+01],
       [-4.11113181e+00, -5.67101985e+01,  4.71307345e+01],
       [ 4.27943693e+01,  3.49698318e+01,  1.08357050e+00],
       [ 4.54594196e+00, -4.37148338e+01, -4.22549151e+01],
       [ 1.98899725e+01, -2.54963444e+01,  3.86276052e+01],
       [-2.18615155e+01,  1.31163318e+01, -1.91397884e+00],
       [ 1.26646128e+01,  8.15659718e+01, -1.65050732e+01],
       [-1.35548547e+01, -1.52756447e+01,  3.55096147e+01],
       [-1.79896097e+01, -1.97612311e+01, -5.17613757e+01],
       [-1.10786488e+00,  1.39671048e+01,  6.53299351e+00],
       [-9.59692970e+00, -2.77348033e+01, -2.78003724e+01],
       [-4.62864258e+00,  1.26783557e+01,  6.59753254e+01],
       [ 4.07182907e+01,  3.98606851e-01, -1.13253333e+01],
       [ 4.32670418e+01,  2.98663739e+01,  1.83414237e+01],
       [ 4.99934726e+01, -5.54015268e+01,  6.24665902e+01]]), array([[60.81205329],
       [-3.51314784],
       [ 2.58947293]])]

In [124]:
classificationSummary(train_y, clf.predict(train_X), class_names=classes)

Confusion Matrix (Accuracy 0.9255)

       Prediction
Actual    0    1
     0 2171   21
     1  163  116

In [125]:
classificationSummary(valid_y, clf.predict(valid_X), class_names=classes)

Confusion Matrix (Accuracy 0.8896)

       Prediction
Actual    0    1
     0 1423   53
     1  129   43

In [126]:
clf1 = MLPClassifier(hidden_layer_sizes=(3), activation='logistic',
solver='lbfgs', 
 random_state=1,max_iter=12)

In [127]:
clf1.fit(train_X, train_y.values)

/Users/zoujian/opt/anaconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:559: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPClassifier(activation='logistic', hidden_layer_sizes=3, max_iter=12,
              random_state=1, solver='lbfgs')

In [128]:
classificationSummary(train_y, clf1.predict(train_X), class_names=classes)

Confusion Matrix (Accuracy 0.8972)

       Prediction
Actual    0    1
     0 2126   66
     1  188   91

In [129]:
classificationSummary(valid_y, clf1.predict(valid_X), class_names=classes)

Confusion Matrix (Accuracy 0.8890)

       Prediction
Actual    0    1
     0 1413   63
     1  120   52