In [21]:
import pandas as pd
#read with headers
df=pd.read_csv("C:/Yali/My Class/ADMN5016/Assignment/bank-additional/bank-additional/bank-additional.csv", header=None)
#display
print(df)

                                                      0
0     age;"job";"marital";"education";"default";"hou...
1     30;"blue-collar";"married";"basic.9y";"no";"ye...
2     39;"services";"single";"high.school";"no";"no"...
3     25;"services";"married";"high.school";"no";"ye...
4     38;"services";"married";"basic.9y";"no";"unkno...
...                                                 ...
4115  30;"admin.";"married";"basic.6y";"no";"yes";"y...
4116  39;"admin.";"married";"high.school";"no";"yes"...
4117  27;"student";"single";"high.school";"no";"no";...
4118  58;"admin.";"married";"high.school";"no";"no";...
4119  34;"management";"single";"high.school";"no";"y...

[4120 rows x 1 columns]

In [22]:
df.head(5)

                                                   0
0  age;"job";"marital";"education";"default";"hou...
1  30;"blue-collar";"married";"basic.9y";"no";"ye...
2  39;"services";"single";"high.school";"no";"no"...
3  25;"services";"married";"high.school";"no";"ye...
4  38;"services";"married";"basic.9y";"no";"unkno...

In [23]:
# Sorry I am trying to split the column, but have not been successful yet
df[0].str.split(';',expand=True)
print(df)

                                                      0
0     age;"job";"marital";"education";"default";"hou...
1     30;"blue-collar";"married";"basic.9y";"no";"ye...
2     39;"services";"single";"high.school";"no";"no"...
3     25;"services";"married";"high.school";"no";"ye...
4     38;"services";"married";"basic.9y";"no";"unkno...
...                                                 ...
4115  30;"admin.";"married";"basic.6y";"no";"yes";"y...
4116  39;"admin.";"married";"high.school";"no";"yes"...
4117  27;"student";"single";"high.school";"no";"no";...
4118  58;"admin.";"married";"high.school";"no";"no";...
4119  34;"management";"single";"high.school";"no";"y...

[4120 rows x 1 columns]