In [130]:
!pip install scipy
!pip install sklearn

Requirement already satisfied: scipy in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scipy) (1.21.5)
Requirement already satisfied: sklearn in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (0.0)
Requirement already satisfied: scikit-learn in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from sklearn) (1.1.1)
Requirement already satisfied: scipy>=1.3.2 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.7.3)
Requirement already satisfied: joblib>=1.0.0 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn->sklearn) (2.2.0)

In [131]:
pip install dmba

Requirement already satisfied: dmba in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (0.1.0)
Note: you may need to restart the kernel to use updated packages.

In [132]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: numpy>=1.17.3 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.7.3)
Requirement already satisfied: joblib>=1.0.0 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [133]:
pip install mord

Requirement already satisfied: mord in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (0.6)
Note: you may need to restart the kernel to use updated packages.

In [134]:
import sklearn
print('The scikit-learn version is {}.'.format(sklearn.__version__))

The scikit-learn version is 1.1.1.

In [135]:
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.utils.validation import check_is_fitted
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from dmba import classificationSummary
import numpy as np
import pandas as pd
import statsmodels.api as sm
from mord import LogisticIT
import matplotlib.pyplot as plt
import seaborn as sns
from dmba import classificationSummary, gainsChart, liftChart
from dmba.metric import AIC_score
from sklearn.metrics import confusion_matrix
from sklearn import svm
from sklearn import metrics
from sklearn.datasets import load_iris

In [136]:
!pip install opendatasets

Requirement already satisfied: opendatasets in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (0.1.22)
Requirement already satisfied: kaggle in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from opendatasets) (1.5.12)
Requirement already satisfied: tqdm in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from opendatasets) (4.64.0)
Requirement already satisfied: click in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from opendatasets) (8.0.4)
Requirement already satisfied: urllib3 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from kaggle->opendatasets) (1.26.9)
Requirement already satisfied: python-slugify in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: six>=1.10 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: python-dateutil in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: certifi in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from kaggle->opendatasets) (2021.10.8)
Requirement already satisfied: requests in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from kaggle->opendatasets) (2.27.1)
Requirement already satisfied: text-unidecode>=1.3 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<4,>=2.5 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from requests->kaggle->opendatasets) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/zoujian/opt/anaconda3/lib/python3.9/site-packages (from requests->kaggle->opendatasets) (2.0.4)

In [137]:
import opendatasets as od

In [138]:
my_dataset_ur = "https://raw.githubusercontent.com/Yali20212021/ADMN5016-Assignment---Yali/main/bank-additional.csv"

In [139]:
od.download(my_dataset_ur)

Using downloaded and verified file: ./bank-additional.csv

In [140]:
dataname = './bank-additional.csv'

In [141]:
#read with headers
df=pd.read_csv(dataname, header=None)
#display
print(df)

                                                      0
0     age;"job";"marital";"education";"default";"hou...
1     30;"blue-collar";"married";"basic.9y";"no";"ye...
2     39;"services";"single";"high.school";"no";"no"...
3     25;"services";"married";"high.school";"no";"ye...
4     38;"services";"married";"basic.9y";"no";"unkno...
...                                                 ...
4115  30;"admin.";"married";"basic.6y";"no";"yes";"y...
4116  39;"admin.";"married";"high.school";"no";"yes"...
4117  27;"student";"single";"high.school";"no";"no";...
4118  58;"admin.";"married";"high.school";"no";"no";...
4119  34;"management";"single";"high.school";"no";"y...

[4120 rows x 1 columns]

In [142]:
#read with headers
#df=pd.read_csv("C:/Yali/My Class/ADMN5016/Assignment/bank-additional/bank-additional/bank-additional.csv", header=None)
#display
#print(df)

In [143]:
df.head(5)

                                                   0
0  age;"job";"marital";"education";"default";"hou...
1  30;"blue-collar";"married";"basic.9y";"no";"ye...
2  39;"services";"single";"high.school";"no";"no"...
3  25;"services";"married";"high.school";"no";"ye...
4  38;"services";"married";"basic.9y";"no";"unkno...

In [144]:
# split column
df1=df[0].str.split(';',expand=True)
df1.head(5)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,age,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""",...,"""campaign""","""pdays""","""previous""","""poutcome""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""euribor3m""","""nr.employed""","""y"""
1,30,"""blue-collar""","""married""","""basic.9y""","""no""","""yes""","""no""","""cellular""","""may""","""fri""",...,2,999,0,"""nonexistent""",-1.8,92.893,-46.2,1.313,5099.1,"""no"""
2,39,"""services""","""single""","""high.school""","""no""","""no""","""no""","""telephone""","""may""","""fri""",...,4,999,0,"""nonexistent""",1.1,93.994,-36.4,4.855,5191,"""no"""
3,25,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jun""","""wed""",...,1,999,0,"""nonexistent""",1.4,94.465,-41.8,4.962,5228.1,"""no"""
4,38,"""services""","""married""","""basic.9y""","""no""","""unknown""","""unknown""","""telephone""","""jun""","""fri""",...,3,999,0,"""nonexistent""",1.4,94.465,-41.8,4.959,5228.1,"""no"""

In [145]:
df1

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,age,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""",...,"""campaign""","""pdays""","""previous""","""poutcome""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""euribor3m""","""nr.employed""","""y"""
1,30,"""blue-collar""","""married""","""basic.9y""","""no""","""yes""","""no""","""cellular""","""may""","""fri""",...,2,999,0,"""nonexistent""",-1.8,92.893,-46.2,1.313,5099.1,"""no"""
2,39,"""services""","""single""","""high.school""","""no""","""no""","""no""","""telephone""","""may""","""fri""",...,4,999,0,"""nonexistent""",1.1,93.994,-36.4,4.855,5191,"""no"""
3,25,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jun""","""wed""",...,1,999,0,"""nonexistent""",1.4,94.465,-41.8,4.962,5228.1,"""no"""
4,38,"""services""","""married""","""basic.9y""","""no""","""unknown""","""unknown""","""telephone""","""jun""","""fri""",...,3,999,0,"""nonexistent""",1.4,94.465,-41.8,4.959,5228.1,"""no"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,30,"""admin.""","""married""","""basic.6y""","""no""","""yes""","""yes""","""cellular""","""jul""","""thu""",...,1,999,0,"""nonexistent""",1.4,93.918,-42.7,4.958,5228.1,"""no"""
4116,39,"""admin.""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jul""","""fri""",...,1,999,0,"""nonexistent""",1.4,93.918,-42.7,4.959,5228.1,"""no"""
4117,27,"""student""","""single""","""high.school""","""no""","""no""","""no""","""cellular""","""may""","""mon""",...,2,999,1,"""failure""",-1.8,92.893,-46.2,1.354,5099.1,"""no"""
4118,58,"""admin.""","""married""","""high.school""","""no""","""no""","""no""","""cellular""","""aug""","""fri""",...,1,999,0,"""nonexistent""",1.4,93.444,-36.1,4.966,5228.1,"""no"""
4119,34,"""management""","""single""","""high.school""","""no""","""yes""","""no""","""cellular""","""nov""","""wed""",...,1,999,0,"""nonexistent""",-0.1,93.2,-42,4.12,5195.8,"""no"""

In [146]:
df1.columns = df1.iloc[0]

In [147]:
df1

,age,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""",...,"""campaign""","""pdays""","""previous""","""poutcome""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""euribor3m""","""nr.employed""","""y"""
0,age,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""",...,"""campaign""","""pdays""","""previous""","""poutcome""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""euribor3m""","""nr.employed""","""y"""
1,30,"""blue-collar""","""married""","""basic.9y""","""no""","""yes""","""no""","""cellular""","""may""","""fri""",...,2,999,0,"""nonexistent""",-1.8,92.893,-46.2,1.313,5099.1,"""no"""
2,39,"""services""","""single""","""high.school""","""no""","""no""","""no""","""telephone""","""may""","""fri""",...,4,999,0,"""nonexistent""",1.1,93.994,-36.4,4.855,5191,"""no"""
3,25,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jun""","""wed""",...,1,999,0,"""nonexistent""",1.4,94.465,-41.8,4.962,5228.1,"""no"""
4,38,"""services""","""married""","""basic.9y""","""no""","""unknown""","""unknown""","""telephone""","""jun""","""fri""",...,3,999,0,"""nonexistent""",1.4,94.465,-41.8,4.959,5228.1,"""no"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,30,"""admin.""","""married""","""basic.6y""","""no""","""yes""","""yes""","""cellular""","""jul""","""thu""",...,1,999,0,"""nonexistent""",1.4,93.918,-42.7,4.958,5228.1,"""no"""
4116,39,"""admin.""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jul""","""fri""",...,1,999,0,"""nonexistent""",1.4,93.918,-42.7,4.959,5228.1,"""no"""
4117,27,"""student""","""single""","""high.school""","""no""","""no""","""no""","""cellular""","""may""","""mon""",...,2,999,1,"""failure""",-1.8,92.893,-46.2,1.354,5099.1,"""no"""
4118,58,"""admin.""","""married""","""high.school""","""no""","""no""","""no""","""cellular""","""aug""","""fri""",...,1,999,0,"""nonexistent""",1.4,93.444,-36.1,4.966,5228.1,"""no"""
4119,34,"""management""","""single""","""high.school""","""no""","""yes""","""no""","""cellular""","""nov""","""wed""",...,1,999,0,"""nonexistent""",-0.1,93.2,-42,4.12,5195.8,"""no"""

In [148]:
df2=df1.drop([0])

In [149]:
df2

,age,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""",...,"""campaign""","""pdays""","""previous""","""poutcome""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""euribor3m""","""nr.employed""","""y"""
1,30,"""blue-collar""","""married""","""basic.9y""","""no""","""yes""","""no""","""cellular""","""may""","""fri""",...,2,999,0,"""nonexistent""",-1.8,92.893,-46.2,1.313,5099.1,"""no"""
2,39,"""services""","""single""","""high.school""","""no""","""no""","""no""","""telephone""","""may""","""fri""",...,4,999,0,"""nonexistent""",1.1,93.994,-36.4,4.855,5191,"""no"""
3,25,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jun""","""wed""",...,1,999,0,"""nonexistent""",1.4,94.465,-41.8,4.962,5228.1,"""no"""
4,38,"""services""","""married""","""basic.9y""","""no""","""unknown""","""unknown""","""telephone""","""jun""","""fri""",...,3,999,0,"""nonexistent""",1.4,94.465,-41.8,4.959,5228.1,"""no"""
5,47,"""admin.""","""married""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""mon""",...,1,999,0,"""nonexistent""",-0.1,93.2,-42,4.191,5195.8,"""no"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,30,"""admin.""","""married""","""basic.6y""","""no""","""yes""","""yes""","""cellular""","""jul""","""thu""",...,1,999,0,"""nonexistent""",1.4,93.918,-42.7,4.958,5228.1,"""no"""
4116,39,"""admin.""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jul""","""fri""",...,1,999,0,"""nonexistent""",1.4,93.918,-42.7,4.959,5228.1,"""no"""
4117,27,"""student""","""single""","""high.school""","""no""","""no""","""no""","""cellular""","""may""","""mon""",...,2,999,1,"""failure""",-1.8,92.893,-46.2,1.354,5099.1,"""no"""
4118,58,"""admin.""","""married""","""high.school""","""no""","""no""","""no""","""cellular""","""aug""","""fri""",...,1,999,0,"""nonexistent""",1.4,93.444,-36.1,4.966,5228.1,"""no"""
4119,34,"""management""","""single""","""high.school""","""no""","""yes""","""no""","""cellular""","""nov""","""wed""",...,1,999,0,"""nonexistent""",-0.1,93.2,-42,4.12,5195.8,"""no"""

In [150]:
print(df2.isnull().sum())

0
age                 0
"job"               0
"marital"           0
"education"         0
"default"           0
"housing"           0
"loan"              0
"contact"           0
"month"             0
"day_of_week"       0
"duration"          0
"campaign"          0
"pdays"             0
"previous"          0
"poutcome"          0
"emp.var.rate"      0
"cons.price.idx"    0
"cons.conf.idx"     0
"euribor3m"         0
"nr.employed"       0
"y"                 0
dtype: int64

In [151]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 1 to 4119
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               4119 non-null   object
 1   "job"             4119 non-null   object
 2   "marital"         4119 non-null   object
 3   "education"       4119 non-null   object
 4   "default"         4119 non-null   object
 5   "housing"         4119 non-null   object
 6   "loan"            4119 non-null   object
 7   "contact"         4119 non-null   object
 8   "month"           4119 non-null   object
 9   "day_of_week"     4119 non-null   object
 10  "duration"        4119 non-null   object
 11  "campaign"        4119 non-null   object
 12  "pdays"           4119 non-null   object
 13  "previous"        4119 non-null   object
 14  "poutcome"        4119 non-null   object
 15  "emp.var.rate"    4119 non-null   object
 16  "cons.price.idx"  4119 non-null   object
 17  "cons.conf.idx"   4119 non-null   object
 18  "euribor3m"       4119 non-null   object
 19  "nr.employed"     4119 non-null   object
 20  "y"               4119 non-null   object
dtypes: object(21)
memory usage: 675.9+ KB

In [152]:
df2.iloc[:,10]

1       487
2       346
3       227
4        17
5        58
       ...
4115     53
4116    219
4117     64
4118    528
4119    175
Name: "duration", Length: 4119, dtype: object

In [153]:
# drop"duration" column, because it is not suitable to include this column for prediction as described in the dataset
df3=df2.drop(['"duration"'], axis=1)

In [154]:
# Mothod two for drop columns
# df4=df2.drop(columns=['"duration"'])

In [155]:
df3

,age,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""","""campaign""","""pdays""","""previous""","""poutcome""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""euribor3m""","""nr.employed""","""y"""
1,30,"""blue-collar""","""married""","""basic.9y""","""no""","""yes""","""no""","""cellular""","""may""","""fri""",2,999,0,"""nonexistent""",-1.8,92.893,-46.2,1.313,5099.1,"""no"""
2,39,"""services""","""single""","""high.school""","""no""","""no""","""no""","""telephone""","""may""","""fri""",4,999,0,"""nonexistent""",1.1,93.994,-36.4,4.855,5191,"""no"""
3,25,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jun""","""wed""",1,999,0,"""nonexistent""",1.4,94.465,-41.8,4.962,5228.1,"""no"""
4,38,"""services""","""married""","""basic.9y""","""no""","""unknown""","""unknown""","""telephone""","""jun""","""fri""",3,999,0,"""nonexistent""",1.4,94.465,-41.8,4.959,5228.1,"""no"""
5,47,"""admin.""","""married""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""mon""",1,999,0,"""nonexistent""",-0.1,93.2,-42,4.191,5195.8,"""no"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,30,"""admin.""","""married""","""basic.6y""","""no""","""yes""","""yes""","""cellular""","""jul""","""thu""",1,999,0,"""nonexistent""",1.4,93.918,-42.7,4.958,5228.1,"""no"""
4116,39,"""admin.""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jul""","""fri""",1,999,0,"""nonexistent""",1.4,93.918,-42.7,4.959,5228.1,"""no"""
4117,27,"""student""","""single""","""high.school""","""no""","""no""","""no""","""cellular""","""may""","""mon""",2,999,1,"""failure""",-1.8,92.893,-46.2,1.354,5099.1,"""no"""
4118,58,"""admin.""","""married""","""high.school""","""no""","""no""","""no""","""cellular""","""aug""","""fri""",1,999,0,"""nonexistent""",1.4,93.444,-36.1,4.966,5228.1,"""no"""
4119,34,"""management""","""single""","""high.school""","""no""","""yes""","""no""","""cellular""","""nov""","""wed""",1,999,0,"""nonexistent""",-0.1,93.2,-42,4.12,5195.8,"""no"""

In [156]:
df3.dtypes

0
age                 object
"job"               object
"marital"           object
"education"         object
"default"           object
"housing"           object
"loan"              object
"contact"           object
"month"             object
"day_of_week"       object
"campaign"          object
"pdays"             object
"previous"          object
"poutcome"          object
"emp.var.rate"      object
"cons.price.idx"    object
"cons.conf.idx"     object
"euribor3m"         object
"nr.employed"       object
"y"                 object
dtype: object

In [157]:
# Another way to convert object to int
# df3['age'].astype(int)

In [158]:
#Convert the datatype of some variables to numeric
df3[["age",'"campaign"','"pdays"','"previous"','"emp.var.rate"','"cons.price.idx"','"cons.conf.idx"','"euribor3m"','"nr.employed"']] = df3[["age",'"campaign"','"pdays"','"previous"','"emp.var.rate"','"cons.price.idx"','"cons.conf.idx"','"euribor3m"','"nr.employed"']].apply(pd.to_numeric)

In [159]:
df3.dtypes

0
age                   int64
"job"                object
"marital"            object
"education"          object
"default"            object
"housing"            object
"loan"               object
"contact"            object
"month"              object
"day_of_week"        object
"campaign"            int64
"pdays"               int64
"previous"            int64
"poutcome"           object
"emp.var.rate"      float64
"cons.price.idx"    float64
"cons.conf.idx"     float64
"euribor3m"         float64
"nr.employed"       float64
"y"                  object
dtype: object

In [160]:
# Test multicollinearity between predictors. Correlations between numeric IVs < 0.8
df3.corr()

,age,"""campaign""","""pdays""","""previous""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""euribor3m""","""nr.employed"""
0,,,,,,,,,
age,1.000000,-0.014169,-0.043425,0.050931,-0.019192,-0.000482,0.098135,-0.015033,-0.041936
"""campaign""",-0.014169,1.000000,0.058742,-0.091490,0.176079,0.145021,0.007882,0.159435,0.161037
"""pdays""",-0.043425,0.058742,1.000000,-0.587941,0.270684,0.058472,-0.092090,0.301478,0.381983
"""previous""",0.050931,-0.091490,-0.587941,1.000000,-0.415238,-0.164922,-0.051420,-0.458851,-0.514853
"""emp.var.rate""",-0.019192,0.176079,0.270684,-0.415238,1.000000,0.755155,0.195022,0.970308,0.897173
"""cons.price.idx""",-0.000482,0.145021,0.058472,-0.164922,0.755155,1.000000,0.045835,0.657159,0.472560
"""cons.conf.idx""",0.098135,0.007882,-0.092090,-0.051420,0.195022,0.045835,1.000000,0.276595,0.107054
"""euribor3m""",-0.015033,0.159435,0.301478,-0.458851,0.970308,0.657159,0.276595,1.000000,0.942589
"""nr.employed""",-0.041936,0.161037,0.381983,-0.514853,0.897173,0.472560,0.107054,0.942589,1.000000

In [161]:
# drop"euribor3m" and "nr.employed" columns, because they are highly correlated with "emp.var.rate"	
df5=df3.drop(['"euribor3m"','"nr.employed"'], axis=1)

In [162]:
df4=df3['"pdays"']==0

In [163]:
df4.value_counts()

False    4117
True        2
Name: "pdays", dtype: int64

In [164]:
df5

,age,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""","""campaign""","""pdays""","""previous""","""poutcome""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""y"""
1,30,"""blue-collar""","""married""","""basic.9y""","""no""","""yes""","""no""","""cellular""","""may""","""fri""",2,999,0,"""nonexistent""",-1.8,92.893,-46.2,"""no"""
2,39,"""services""","""single""","""high.school""","""no""","""no""","""no""","""telephone""","""may""","""fri""",4,999,0,"""nonexistent""",1.1,93.994,-36.4,"""no"""
3,25,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jun""","""wed""",1,999,0,"""nonexistent""",1.4,94.465,-41.8,"""no"""
4,38,"""services""","""married""","""basic.9y""","""no""","""unknown""","""unknown""","""telephone""","""jun""","""fri""",3,999,0,"""nonexistent""",1.4,94.465,-41.8,"""no"""
5,47,"""admin.""","""married""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""mon""",1,999,0,"""nonexistent""",-0.1,93.200,-42.0,"""no"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,30,"""admin.""","""married""","""basic.6y""","""no""","""yes""","""yes""","""cellular""","""jul""","""thu""",1,999,0,"""nonexistent""",1.4,93.918,-42.7,"""no"""
4116,39,"""admin.""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jul""","""fri""",1,999,0,"""nonexistent""",1.4,93.918,-42.7,"""no"""
4117,27,"""student""","""single""","""high.school""","""no""","""no""","""no""","""cellular""","""may""","""mon""",2,999,1,"""failure""",-1.8,92.893,-46.2,"""no"""
4118,58,"""admin.""","""married""","""high.school""","""no""","""no""","""no""","""cellular""","""aug""","""fri""",1,999,0,"""nonexistent""",1.4,93.444,-36.1,"""no"""
4119,34,"""management""","""single""","""high.school""","""no""","""yes""","""no""","""cellular""","""nov""","""wed""",1,999,0,"""nonexistent""",-0.1,93.200,-42.0,"""no"""

In [165]:
df5.describe()

,age,"""campaign""","""pdays""","""previous""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx"""
count,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000
mean,40.113620,2.537266,960.422190,0.190337,0.084972,93.579704,-40.499102
std,10.313362,2.568159,191.922786,0.541788,1.563114,0.579349,4.594578
min,18.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000
25%,32.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000
50%,38.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000
75%,47.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000
max,88.000000,35.000000,999.000000,6.000000,1.400000,94.767000,-26.900000

In [166]:
df5.corr()

,age,"""campaign""","""pdays""","""previous""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx"""
0,,,,,,,
age,1.000000,-0.014169,-0.043425,0.050931,-0.019192,-0.000482,0.098135
"""campaign""",-0.014169,1.000000,0.058742,-0.091490,0.176079,0.145021,0.007882
"""pdays""",-0.043425,0.058742,1.000000,-0.587941,0.270684,0.058472,-0.092090
"""previous""",0.050931,-0.091490,-0.587941,1.000000,-0.415238,-0.164922,-0.051420
"""emp.var.rate""",-0.019192,0.176079,0.270684,-0.415238,1.000000,0.755155,0.195022
"""cons.price.idx""",-0.000482,0.145021,0.058472,-0.164922,0.755155,1.000000,0.045835
"""cons.conf.idx""",0.098135,0.007882,-0.092090,-0.051420,0.195022,0.045835,1.000000

In [167]:
df5['"y"'].value_counts()

"no"     3668
"yes"     451
Name: "y", dtype: int64

In [168]:
# Convert output variable to binary variable
df5['"y"'] = [1 if status == '"yes"' else 0 for status in
df5['"y"']]

In [169]:
df5

,age,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""","""campaign""","""pdays""","""previous""","""poutcome""","""emp.var.rate""","""cons.price.idx""","""cons.conf.idx""","""y"""
1,30,"""blue-collar""","""married""","""basic.9y""","""no""","""yes""","""no""","""cellular""","""may""","""fri""",2,999,0,"""nonexistent""",-1.8,92.893,-46.2,0
2,39,"""services""","""single""","""high.school""","""no""","""no""","""no""","""telephone""","""may""","""fri""",4,999,0,"""nonexistent""",1.1,93.994,-36.4,0
3,25,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jun""","""wed""",1,999,0,"""nonexistent""",1.4,94.465,-41.8,0
4,38,"""services""","""married""","""basic.9y""","""no""","""unknown""","""unknown""","""telephone""","""jun""","""fri""",3,999,0,"""nonexistent""",1.4,94.465,-41.8,0
5,47,"""admin.""","""married""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""mon""",1,999,0,"""nonexistent""",-0.1,93.200,-42.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,30,"""admin.""","""married""","""basic.6y""","""no""","""yes""","""yes""","""cellular""","""jul""","""thu""",1,999,0,"""nonexistent""",1.4,93.918,-42.7,0
4116,39,"""admin.""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jul""","""fri""",1,999,0,"""nonexistent""",1.4,93.918,-42.7,0
4117,27,"""student""","""single""","""high.school""","""no""","""no""","""no""","""cellular""","""may""","""mon""",2,999,1,"""failure""",-1.8,92.893,-46.2,0
4118,58,"""admin.""","""married""","""high.school""","""no""","""no""","""no""","""cellular""","""aug""","""fri""",1,999,0,"""nonexistent""",1.4,93.444,-36.1,0
4119,34,"""management""","""single""","""high.school""","""no""","""yes""","""no""","""cellular""","""nov""","""wed""",1,999,0,"""nonexistent""",-0.1,93.200,-42.0,0

In [170]:
df5['"y"'].value_counts()

0    3668
1     451
Name: "y", dtype: int64

In [171]:
catpredictors = ['"job"', '"marital"', '"education"', '"default"', '"housing"', '"loan"','"contact"','"month"','"day_of_week"','"poutcome"']

In [172]:
catpredictors

['"job"',
 '"marital"',
 '"education"',
 '"default"',
 '"housing"',
 '"loan"',
 '"contact"',
 '"month"',
 '"day_of_week"',
 '"poutcome"']

In [173]:
X = pd.get_dummies(df5[catpredictors], drop_first=True)
X

,"""job""_""blue-collar""","""job""_""entrepreneur""","""job""_""housemaid""","""job""_""management""","""job""_""retired""","""job""_""self-employed""","""job""_""services""","""job""_""student""","""job""_""technician""","""job""_""unemployed""",...,"""month""_""may""","""month""_""nov""","""month""_""oct""","""month""_""sep""","""day_of_week""_""mon""","""day_of_week""_""thu""","""day_of_week""_""tue""","""day_of_week""_""wed""","""poutcome""_""nonexistent""","""poutcome""_""success"""
1,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4115,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
4116,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4117,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
4118,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4119,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,1,0

In [174]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 1 to 4119
Data columns (total 43 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   "job"_"blue-collar"                4119 non-null   uint8
 1   "job"_"entrepreneur"               4119 non-null   uint8
 2   "job"_"housemaid"                  4119 non-null   uint8
 3   "job"_"management"                 4119 non-null   uint8
 4   "job"_"retired"                    4119 non-null   uint8
 5   "job"_"self-employed"              4119 non-null   uint8
 6   "job"_"services"                   4119 non-null   uint8
 7   "job"_"student"                    4119 non-null   uint8
 8   "job"_"technician"                 4119 non-null   uint8
 9   "job"_"unemployed"                 4119 non-null   uint8
 10  "job"_"unknown"                    4119 non-null   uint8
 11  "marital"_"married"                4119 non-null   uint8
 12  "marital"_"single"                 4119 non-null   uint8
 13  "marital"_"unknown"                4119 non-null   uint8
 14  "education"_"basic.6y"             4119 non-null   uint8
 15  "education"_"basic.9y"             4119 non-null   uint8
 16  "education"_"high.school"          4119 non-null   uint8
 17  "education"_"illiterate"           4119 non-null   uint8
 18  "education"_"professional.course"  4119 non-null   uint8
 19  "education"_"university.degree"    4119 non-null   uint8
 20  "education"_"unknown"              4119 non-null   uint8
 21  "default"_"unknown"                4119 non-null   uint8
 22  "default"_"yes"                    4119 non-null   uint8
 23  "housing"_"unknown"                4119 non-null   uint8
 24  "housing"_"yes"                    4119 non-null   uint8
 25  "loan"_"unknown"                   4119 non-null   uint8
 26  "loan"_"yes"                       4119 non-null   uint8
 27  "contact"_"telephone"              4119 non-null   uint8
 28  "month"_"aug"                      4119 non-null   uint8
 29  "month"_"dec"                      4119 non-null   uint8
 30  "month"_"jul"                      4119 non-null   uint8
 31  "month"_"jun"                      4119 non-null   uint8
 32  "month"_"mar"                      4119 non-null   uint8
 33  "month"_"may"                      4119 non-null   uint8
 34  "month"_"nov"                      4119 non-null   uint8
 35  "month"_"oct"                      4119 non-null   uint8
 36  "month"_"sep"                      4119 non-null   uint8
 37  "day_of_week"_"mon"                4119 non-null   uint8
 38  "day_of_week"_"thu"                4119 non-null   uint8
 39  "day_of_week"_"tue"                4119 non-null   uint8
 40  "day_of_week"_"wed"                4119 non-null   uint8
 41  "poutcome"_"nonexistent"           4119 non-null   uint8
 42  "poutcome"_"success"               4119 non-null   uint8
dtypes: uint8(43)
memory usage: 173.1 KB

In [175]:
y = df5['"y"']
y

1       0
2       0
3       0
4       0
5       0
       ..
4115    0
4116    0
4117    0
4118    0
4119    0
Name: "y", Length: 4119, dtype: int64

In [176]:
# split into training and validation
train_X, valid_X, train_y, valid_y = train_test_split(X, y, test_size=0.4,
random_state=1)

In [177]:
len(df5)

4119

In [178]:
len(train_X)

2471

In [179]:
len(valid_X)

1648

In [180]:
logit_full = LogisticRegression(penalty="l2", C=1, solver='liblinear')
print(logit_full)

LogisticRegression(C=1, solver='liblinear')

In [181]:
logit_full.fit(train_X, train_y)

LogisticRegression(C=1, solver='liblinear')

In [182]:
print('intercept ', logit_full.intercept_[0])

intercept  -1.0675839226149284

In [183]:
print(logit_full.coef_[0])

[-0.37355162 -0.65549041  0.0778335  -0.1917523   0.58560044 -0.24611991
 -0.21276731  0.60611544 -0.13455062 -0.02643596 -0.32667268 -0.06016239
 -0.02681056 -0.44077238 -0.15428528 -0.08681344 -0.07835196 -0.14759244
  0.12651561  0.0385339   0.17211223 -0.27244527 -0.09530162 -0.27373012
 -0.0477879  -0.27373012 -0.18419605 -1.16280603 -1.04842522  0.95512249
 -0.78004169  0.29712655  1.34385638 -0.66482739 -0.90075728  0.52117173
  0.48879984 -0.20739992 -0.09544659 -0.01180347 -0.00291711 -0.06305707
  2.34061338]

In [184]:
print(pd.DataFrame({'coeff': logit_full.coef_[0]}, index=X.columns).transpose())

       "job"_"blue-collar"  "job"_"entrepreneur"  "job"_"housemaid"  \
coeff            -0.373552              -0.65549           0.077834

       "job"_"management"  "job"_"retired"  "job"_"self-employed"  \
coeff           -0.191752           0.5856               -0.24612

       "job"_"services"  "job"_"student"  "job"_"technician"  \
coeff         -0.212767         0.606115           -0.134551

       "job"_"unemployed"  ...  "month"_"may"  "month"_"nov"  "month"_"oct"  \
coeff           -0.026436  ...      -0.664827      -0.900757       0.521172

       "month"_"sep"  "day_of_week"_"mon"  "day_of_week"_"thu"  \
coeff         0.4888              -0.2074            -0.095447

       "day_of_week"_"tue"  "day_of_week"_"wed"  "poutcome"_"nonexistent"  \
coeff            -0.011803            -0.002917                 -0.063057

       "poutcome"_"success"
coeff              2.340613

[1 rows x 43 columns]

In [185]:
print('AIC', AIC_score(valid_y, logit_full.predict(valid_X), df = len(train_X.columns)
+ 1))

AIC 933.7162120833968

In [186]:
logit_reg_pred = logit_full.predict_proba(valid_X)
logit_reg_pred

array([[0.9419598 , 0.0580402 ],
       [0.90096218, 0.09903782],
       [0.27690992, 0.72309008],
       ...,
       [0.92612614, 0.07387386],
       [0.89778294, 0.10221706],
       [0.90609993, 0.09390007]])

In [187]:
logit_reg_pred = logit_full.predict_proba(valid_X)
logit_reg_pred

array([[0.9419598 , 0.0580402 ],
       [0.90096218, 0.09903782],
       [0.27690992, 0.72309008],
       ...,
       [0.92612614, 0.07387386],
       [0.89778294, 0.10221706],
       [0.90609993, 0.09390007]])

In [188]:
full_result = pd.DataFrame({'actual': valid_y, 
 'p(0)': [p[0] for p in logit_reg_pred],
 'p(1)': [p[1] for p in logit_reg_pred],
 'predicted': logit_full.predict(valid_X)})
full_result

      actual      p(0)      p(1)  predicted
3292       0  0.941960  0.058040          0
3979       0  0.900962  0.099038          0
3708       1  0.276910  0.723090          1
3240       0  0.883141  0.116859          0
2935       0  0.971847  0.028153          0
...      ...       ...       ...        ...
3002       0  0.953103  0.046897          0
1853       0  0.707125  0.292875          0
1098       0  0.926126  0.073874          0
1598       0  0.897783  0.102217          0
1294       0  0.906100  0.093900          0

[1648 rows x 4 columns]

In [189]:
full_result = full_result.sort_values(by=['p(1)'], ascending=False)
full_result

      actual      p(0)      p(1)  predicted
2118       1  0.072926  0.927074          1
22         1  0.100058  0.899942          1
2264       1  0.103340  0.896660          1
706        1  0.120168  0.879832          1
3548       0  0.122448  0.877552          1
...      ...       ...       ...        ...
1039       0  0.983581  0.016419          0
4081       0  0.983759  0.016241          0
4036       0  0.983901  0.016099          0
2810       0  0.986751  0.013249          0
3660       0  0.987190  0.012810          0

[1648 rows x 4 columns]

In [190]:
full_result['actual'].value_counts()

0    1476
1     172
Name: actual, dtype: int64

In [191]:
full_result['predicted'].value_counts()

0    1593
1      55
Name: predicted, dtype: int64

In [192]:
cm = confusion_matrix(full_result.actual, full_result.predicted)
cm

array([[1454,   22],
       [ 139,   33]])

In [193]:
Accuracy_valid = (1454+33)/(1454+33+139+22)
Accuracy_valid

0.9023058252427184

In [194]:
# confusion matrix
classificationSummary(full_result.actual, full_result.predicted, class_names= ['No', 'Yes'])

Confusion Matrix (Accuracy 0.9023)

       Prediction
Actual   No  Yes
    No 1454   22
   Yes  139   33

Training dataset

In [195]:
logit_reg_pred_train = logit_full.predict_proba(train_X)
logit_reg_pred_train

array([[0.94262728, 0.05737272],
       [0.91488093, 0.08511907],
       [0.91657487, 0.08342513],
       ...,
       [0.84215494, 0.15784506],
       [0.84246727, 0.15753273],
       [0.93621923, 0.06378077]])

In [196]:
full_result_train = pd.DataFrame({'actual': train_y, 
 'p(0)': [p[0] for p in logit_reg_pred_train],
 'p(1)': [p[1] for p in logit_reg_pred_train],
 'predicted': logit_full.predict(train_X)})
full_result_train

      actual      p(0)      p(1)  predicted
2681       0  0.942627  0.057373          0
2194       0  0.914881  0.085119          0
2405       0  0.916575  0.083425          0
1833       0  0.948663  0.051337          0
1366       0  0.900362  0.099638          0
...      ...       ...       ...        ...
2896       0  0.949514  0.050486          0
2764       1  0.919105  0.080895          0
906        0  0.842155  0.157845          0
3981       1  0.842467  0.157533          0
236        0  0.936219  0.063781          0

[2471 rows x 4 columns]

In [197]:
full_result_train = full_result_train.sort_values(by=['p(1)'], ascending=False)
full_result_train

      actual      p(0)      p(1)  predicted
3211       1  0.041395  0.958605          1
179        1  0.060065  0.939935          1
1714       1  0.071159  0.928841          1
3520       1  0.075795  0.924205          1
478        1  0.081825  0.918175          1
...      ...       ...       ...        ...
1391       0  0.986946  0.013054          0
829        0  0.987004  0.012996          0
2657       0  0.987859  0.012141          0
2236       0  0.989114  0.010886          0
3917       0  0.990883  0.009117          0

[2471 rows x 4 columns]

In [198]:
full_result_train['actual'].value_counts()

0    2192
1     279
Name: actual, dtype: int64

In [199]:
full_result_train['predicted'].value_counts()

0    2389
1      82
Name: predicted, dtype: int64

In [200]:
cm = confusion_matrix(full_result_train.actual, full_result_train.predicted)
cm

array([[2167,   25],
       [ 222,   57]])

In [201]:
Accuracy_train = (2167+57)/(2167+57+222+25)
Accuracy_train

0.9000404694455686

In [202]:
# confusion matrix
classificationSummary(full_result_train.actual, full_result_train.predicted, class_names= ['No', 'Yes'])

Confusion Matrix (Accuracy 0.9000)

       Prediction
Actual   No  Yes
    No 2167   25
   Yes  222   57

### Neural Networks method

In [203]:
Xneu = df5[catpredictors]
yneu = df5['"y"']

In [204]:
Xneu

,"""job""","""marital""","""education""","""default""","""housing""","""loan""","""contact""","""month""","""day_of_week""","""poutcome"""
1,"""blue-collar""","""married""","""basic.9y""","""no""","""yes""","""no""","""cellular""","""may""","""fri""","""nonexistent"""
2,"""services""","""single""","""high.school""","""no""","""no""","""no""","""telephone""","""may""","""fri""","""nonexistent"""
3,"""services""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jun""","""wed""","""nonexistent"""
4,"""services""","""married""","""basic.9y""","""no""","""unknown""","""unknown""","""telephone""","""jun""","""fri""","""nonexistent"""
5,"""admin.""","""married""","""university.degree""","""no""","""yes""","""no""","""cellular""","""nov""","""mon""","""nonexistent"""
...,...,...,...,...,...,...,...,...,...,...
4115,"""admin.""","""married""","""basic.6y""","""no""","""yes""","""yes""","""cellular""","""jul""","""thu""","""nonexistent"""
4116,"""admin.""","""married""","""high.school""","""no""","""yes""","""no""","""telephone""","""jul""","""fri""","""nonexistent"""
4117,"""student""","""single""","""high.school""","""no""","""no""","""no""","""cellular""","""may""","""mon""","""failure"""
4118,"""admin.""","""married""","""high.school""","""no""","""no""","""no""","""cellular""","""aug""","""fri""","""nonexistent"""
4119,"""management""","""single""","""high.school""","""no""","""yes""","""no""","""cellular""","""nov""","""wed""","""nonexistent"""

In [205]:
yneu

1       0
2       0
3       0
4       0
5       0
       ..
4115    0
4116    0
4117    0
4118    0
4119    0
Name: "y", Length: 4119, dtype: int64

In [206]:
classes = sorted(y.unique())
classes

[0, 1]

In [207]:
clf = MLPClassifier(hidden_layer_sizes=(3), activation='logistic',
solver='adam', 
 random_state=1)

In [208]:
clf

MLPClassifier(activation='logistic', hidden_layer_sizes=3, random_state=1)

In [209]:
clf.fit(train_X, train_y.values)

/Users/zoujian/opt/anaconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:702: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier(activation='logistic', hidden_layer_sizes=3, random_state=1)

In [210]:
print('AIC', AIC_score(valid_y, clf.predict(valid_X), df = len(train_X.columns)
+ 1))

AIC 984.1176938005847

In [211]:
#  Network structure
print('Intercepts')
print(clf.intercepts_)
print('Weights')
print(clf.coefs_)

Intercepts
[array([-0.24869379, -0.10157086,  0.2338103 ]), array([-0.67255373])]
Weights
[array([[ 4.36642521e-01,  4.74523631e-01, -4.87178768e-01],
       [ 1.32823381e+00,  7.61654150e-01, -1.05503225e+00],
       [-4.62660344e-04,  2.41087588e-02, -7.53473117e-02],
       [ 3.31217539e-01,  9.47985825e-02, -2.08972111e-01],
       [-1.21061391e+00, -9.10083287e-01,  8.63773743e-01],
       [ 3.13202978e-01,  1.48368569e-01, -2.44704289e-01],
       [ 3.27213578e-01,  2.55540974e-01, -1.26412495e-01],
       [-7.10127233e-01, -7.66342747e-01,  7.43147755e-01],
       [ 1.29033652e-01,  7.28627485e-02, -1.46060091e-01],
       [-2.40399866e-01, -2.48029772e-01,  2.13340277e-01],
       [-1.55452020e-01,  1.24705270e-01,  3.43679866e-02],
       [-7.81059587e-02,  1.24643744e-02, -9.60314436e-02],
       [-9.55423980e-02, -1.07439449e-01, -3.34431197e-02],
       [ 1.43161818e+00,  1.21402884e+00, -9.34930048e-01],
       [ 4.32897683e-02,  2.41143402e-01, -3.14880125e-01],
       [ 1.05821428e-01,  2.12052897e-01, -2.33766199e-01],
       [ 3.38046667e-02, -8.59348893e-02, -1.60580207e-01],
       [ 8.91099900e-01,  5.32239811e-01, -7.51904479e-01],
       [-1.07876489e-01, -2.32005944e-01,  9.19731141e-02],
       [-2.67941271e-01, -2.20303827e-01,  6.67019321e-02],
       [-3.32574252e-01, -1.99488836e-01,  2.46694634e-01],
       [ 1.23603393e+00,  4.91830102e-01, -5.66908904e-01],
       [ 8.89655948e-01,  6.38386481e-01, -4.60312857e-01],
       [ 4.16600805e-01,  2.41050184e-01, -3.01354040e-01],
       [-2.19883090e-01, -1.50956859e-02, -8.51020425e-03],
       [ 2.42257541e-01,  2.51080348e-01, -2.14132713e-01],
       [ 1.79578056e-01,  1.91726112e-01, -7.80696213e-02],
       [ 1.66384149e+00,  1.11685665e+00, -9.77409957e-01],
       [ 1.04362379e+00,  8.05558137e-01, -6.97607828e-01],
       [-1.01900463e+00, -9.99884360e-01,  1.15425263e+00],
       [ 8.04221129e-01,  7.01485703e-01, -4.71760762e-01],
       [-6.40998969e-01, -5.66317725e-01,  4.06459198e-01],
       [-1.58633334e+00, -1.51229638e+00,  1.48463903e+00],
       [ 9.99847783e-01,  5.57807186e-01, -5.42950289e-01],
       [ 9.69545630e-01,  5.69369386e-01, -4.99009949e-01],
       [-1.20830196e+00, -1.22721690e+00,  1.22905551e+00],
       [-1.20283345e+00, -9.54701404e-01,  1.01438785e+00],
       [ 3.37729165e-02,  1.50725378e-01, -6.19958021e-02],
       [-3.14294235e-01, -3.31761198e-02,  9.11915074e-02],
       [-1.04235342e-01, -1.27936762e-01, -2.96740466e-02],
       [-1.18097223e-01, -1.01204908e-01, -1.62523215e-01],
       [ 6.17562684e-01,  5.06825898e-01, -3.14250239e-01],
       [-2.23765059e+00, -1.87835715e+00,  2.04433856e+00]]), array([[-1.13042151],
       [-1.47397646],
       [ 1.0296825 ]])]

In [212]:
clf.predict(train_X)

array([0, 0, 0, ..., 0, 0, 0])

In [213]:
clf.predict(valid_X)

array([0, 0, 1, ..., 0, 0, 0])

In [214]:
classificationSummary(train_y, clf.predict(train_X), class_names=classes)

Confusion Matrix (Accuracy 0.8964)

       Prediction
Actual    0    1
     0 2182   10
     1  246   33

In [215]:
classificationSummary(valid_y, clf.predict(valid_X), class_names=classes)

Confusion Matrix (Accuracy 0.8993)

       Prediction
Actual    0    1
     0 1465   11
     1  155   17

In [216]:
clf1 = MLPClassifier(hidden_layer_sizes=(3), activation='logistic',
solver='adam', 
 random_state=1,max_iter=12)

In [217]:
clf1.fit(train_X, train_y.values)

/Users/zoujian/opt/anaconda3/lib/python3.9/site-packages/sklearn/neural_network/_multilayer_perceptron.py:702: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (12) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier(activation='logistic', hidden_layer_sizes=3, max_iter=12,
              random_state=1)

In [218]:
classificationSummary(train_y, clf1.predict(train_X), class_names=classes)

Confusion Matrix (Accuracy 0.8871)

       Prediction
Actual    0    1
     0 2192    0
     1  279    0

In [219]:
classificationSummary(valid_y, clf1.predict(valid_X), class_names=classes)

Confusion Matrix (Accuracy 0.8956)

       Prediction
Actual    0    1
     0 1476    0
     1  172    0